data.json
private/
daily/
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace
.obsidian/graph.json
.obsidian/plugins/various-complements/histories.json
.DS_Store
.trash/

.obsidian/plugins/obsidian-textgenerator-plugin
.obsidian/text-generator.json
textgenerator/prompts

**conflicted**

