.obsidian/plugins/copilot/data.json
private/
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace
.obsidian/graph.json
.DS_Store

.obsidian/plugins/obsidian-textgenerator-plugin
.obsidian/text-generator.json
textgenerator/prompts

**conflicted**.json

